# Ignore objects and archives, anywhere in the tree.
*.[oa]
*~
*.aux
*.log
*.dvi

# Ignore generated Makefiles
/Makefile
blas/Makefile
coul/Makefile
faclib/Makefile
ionis/Makefile
lapack/Makefile
minpack/Makefile
mpfun/Makefile
modqed/Makefile
toms/Makefile
ode/Makefile
quadpack/Makefile
sfac/Makefile
tests/Makefile
python/Makefile

# Ignore binaries
sfac/scrm
sfac/sfac
sfac/spol
python/mpy

# configure-generated
sysdef.h
config.log
config.status
autom4te.cache/

# Python build dirs
build/
dist/
__pycache__
.pytest_cache
*.pyc

# demos
demo/*/*.b
demo/*/*.ai
demo/*/*.ce
demo/*/*.ceM
demo/*/*.ci
demo/*/*.en
demo/*/*.rr
demo/*/*.lev
demo/*/*.pot
demo/*/*.tr
demo/*/*.txt
demo/*/*.sp
demo/*/*.rt